---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
---

<h1>latest notes&hellip;</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/notes/' | url }}">the archive</a></p>
