---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - notes
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>#{{ tag }}</h1>

{% set noteslist = collections[ tag ] %}
{% include "postslist.njk" %}
<p><a href="{{ '/tags/' | url }}">all the tags</a></p>
