<p>
  [<a href="https://11ty.dev/">&nbsp;eleventy&nbsp;</a>] [<a href="https://github.com/11ty/eleventy-base-blog">&nbsp;eleventy-base-blog&nbsp;</a>] [<a href="https://netlify.com">&nbsp;netlify&nbsp;</a>] <a href="https://github.com/francisbarton/notes.ludic.tech/"><i class="fab fa-github"></i></a>
</p>
